@using Budgets.Extensions
@model IQueryable<Budgets.Models.Budget>

@{
    Layout = "_BudgetLayout";
    ViewBag.Title = "Profile";
}
<section id="card" class="item m-3 p-3 px-3">
    <div class="row">
        <div class="col">
            <h2 class="">Your Budgets</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            @if (!Model.Any())
            {
                <div class="text-center">
                    <p>You do not have any budgets yet!</p>
                    <button id="createBudget" type="button" class="btn btn-primary">Create Budget</button>
                </div>
            }
            else
            {
                <table class="table table-bordered table-secondary table-striped table-hover">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Total</th>
                        <th>Used</th>
                        <th class="d-none d-md-table-cell">Last Updated</th>
                        <th class="d-none d-lg-table-cell">Created Date</th>
                        <th class="d-none d-sm-table-cell">Actions</th>
                    </tr>
                    </thead>
                    <tbody>

                    @foreach (var budget in Model)
                    {
                        <tr id="@budget.Id" class="">
                            <td>@budget.Title</td>
                            <td>@budget.AbbreviateTotal()</td>
                            @*<td>@budget.Total 0000</td>*@
                            <td>@budget.TotalPosted()</td>
                            <td class="d-none d-md-table-cell">December 4th 2020</td>
                            <td class="d-none d-lg-table-cell">@budget.CreatedDate</td>
                            <td class="d-none d-sm-table-cell text-center">
                                <button id="view-@budget.Id" class="btn btn-sm btn-primary viewBudget" type="button">View</button>
                                <button id="edit-@budget.Id" class="btn btn-sm btn-warning d-none" type="button">Edit</button>
                                <button id="delete-@budget.Id" class="btn btn-sm btn-success d-none d-sm-table-cell deleteBudget" type="button">Delete</button>
                                <button id="share-@budget.Id" class="btn btn-sm btn-info d-none" type="button">Share</button>
                            </td>
                        </tr>
                    }

                    </tbody>
                </table>
                <div class="text-center">
                    <button class="btn btn-primary">Create New Budget</button>
                </div>
            }
        </div>
        @* <div class="modal fade" id="createBudgetModal" tabindex="-1" role="dialog" aria-labelledby="createBudgetLabel" aria-hidden="true"> *@
        @*     <div class="modal-dialog" role="document"> *@
        @*         <div class="modal-content"> *@
        @*             <div class="modal-header"> *@
        @*                 <h5 class="modal-title" id="exampleModalLabel">Create a new budget</h5> *@
        @*                 <button type="button" class="close" data-dismiss="modal" aria-label="Close"> *@
        @*                     <span aria-hidden="true">&times;</span> *@
        @*                 </button> *@
        @*             </div> *@
        @*             <div class="modal-body pb-0"> *@
        @*                 <div id="createBudgetTitlePage"> *@
        @*                     <div class="form-group"> *@
        @*                         <label for="createBudgetTitle">Budget Title</label> *@
        @*                         <input id="createBudgetTitle" class="form-control"/> *@
        @*                     </div> *@
        @* *@
        @*                     <div class="form-group"> *@
        @*                         <label for="createBudgetTotal">Budget Total</label> *@
        @*                         <input id="createBudgetTotal" type="number" class="form-control"/> *@
        @*                     </div> *@
        @* *@
        @*                     <div class="form-group"> *@
        @*                         <label>Budget Timeframe</label> *@
        @*                         <select id="createBudgetTimeFrame" class="form-control"> *@
        @*                             <option value="Monthly">Monthly</option> *@
        @*                             <option value="Quarterly">Quarterly</option> *@
        @*                             <option value="Yearly">Yearly</option> *@
        @*                         </select> *@
        @*                     </div> *@
        @*                 </div> *@
        @* *@
        @*                 <div id="createBudgetRowPage" style="display: none;"> *@
        @*                     <div class="budgetRow"> *@
        @*                         <div class="form-group budgetRowTitle"> *@
        @*                             <label>Row Title</label> *@
        @*                             <input class="form-control"/> *@
        @*                         </div> *@
        @* *@
        @*                         <div class="form-group budgetRowTotal"> *@
        @*                             <label>Row Total</label> *@
        @*                             <input type="number" class="form-control"/> *@
        @*                         </div> *@
        @* *@
        @*                         <div class="row"> *@
        @*                             <div class="form-group col-9 budgetRowType"> *@
        @*                                 <label>Row Type</label> *@
        @*                                 <select class="form-control"> *@
        @*                                     <option value="Amount">Amount</option> *@
        @*                                     <option value="Percent">Percent</option> *@
        @*                                 </select> *@
        @*                             </div> *@
        @*                             <div class="col-3 mt-4"> *@
        @*                                 <button type="button" class="btn btn-danger mt-2">Delete</button> *@
        @*                             </div> *@
        @*                         </div> *@
        @* *@
        @*                     </div> *@
        @*                 </div> *@
        @*             </div> *@
        @*             <div class="px-3 pb-3"> *@
        @*                 <button id="createBudgetAddRow" type="button" class="btn btn-dark">Add Row</button> *@
        @*             </div> *@
        @*             <div class="modal-footer"> *@
        @* *@
        @*                 <button id="createBudgetClose" type="button" class="btn btn-danger" data-dismiss="modal">Close</button> *@
        @*                 <button id="createBudgetNext" type="button" class="btn btn-info">Next</button> *@
        @*                 <button id="createBudgetBack" type="button" class="btn btn-info" style="display: none;">Back</button> *@
        @*                 <button id="createBudgetCreate" type="button" class="btn btn-primary" style="display: none;">Create</button> *@
        @*             </div> *@
        @*         </div> *@
        @*     </div> *@
        @* </div> *@
    </div>
</section>